# Secrets & Environment Variables
.dev.vars
.env
.env.local
.env.*.local

# Wrangler cache & logs
.wrangler/
*.log

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build outputs
dist/
build/
